.blogGetLatestNews {
  padding: 32px 20px;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blogGetLatestNewsText {
  font-size: 32px;
  font-weight: 500;
  color: var(--white-color);
}

@media (max-width: 1439px) {
  .blogGetLatestNewsText {
    font-size: 18px;
  }
}

@media (max-width: 810px) {
  .blogGetLatestNews {
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  .blogGetLatestNewsText {
    font-size: 16px;
    font-weight: 400;
  }
}
