.blogPageTags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 12px;
  justify-content: center;
}

@media (max-width: 1439px) {
  .blogPageTags {
    flex-wrap: nowrap;
    display: flex;
    justify-content: start;
    gap: 12px;
    overflow-x: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
