.faqSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 19px;
  width: 100%;
}

.faqSearchInput {
  background-color: var(--primary-background-color);
  border-radius: 10px;
  color: var(--white-color);
  height: 56px;
  font-size: 18px;
  padding: 9px 16px;
}

@media (max-width: 1439px) {
  .faqSearchInput {
    height: 48px;
  }

  .faqSearchButton {
    min-width: 48px;
    height: 48px;
    padding: 0;
  }
}

@media (max-width: 810px) {
  .faqSearchInput {
    height: 36px;
  }

  .faqSearchButton {
    min-width: 36px;
    height: 36px;
    padding: 0;
  }
}
